In [1]:
import pandas as pd

In [74]:
redhat = pd.read_csv("C:\\Users\\vinod.pathak\\Desktop\\Vinod Pathak\\Predicting Red Hat Business Value\\redhat.csv")

In [78]:
#To view column types
print redhat.dtypes

pchar_1                      object
pgroup_1                     object
pchar_2                      object
pdate                datetime64[ns]
pchar_3                      object
pchar_4                      object
pchar_5                      object
pchar_6                      object
pchar_7                      object
pchar_8                      object
pchar_9                      object
pchar_10                       bool
pchar_11                       bool
pchar_12                       bool
pchar_13                       bool
pchar_14                       bool
pchar_15                       bool
pchar_16                       bool
pchar_17                       bool
pchar_18                       bool
pchar_19                       bool
pchar_20                       bool
pchar_21                       bool
pchar_22                       bool
pchar_23                       bool
pchar_24                       bool
pchar_25                       bool
pchar_26                       bool
pchar_27                       bool
pchar_28                       bool
pchar_29                       bool
pchar_30                       bool
pchar_31                       bool
pchar_32                       bool
pchar_33                       bool
pchar_34                       bool
pchar_35                       bool
pchar_36                       bool
pchar_37                       bool
pchar_38                      int64
date                 datetime64[ns]
activity_category            object
char_1                       object
char_2                       object
char_3                       object
char_4                       object
char_5                       object
char_6                       object
char_7                       object
char_8                       object
char_9                       object
char_10                      object
outcome                       int64
dtype: object

In [76]:
redhat = redhat.drop(["people_id","activity_id"],axis=1)

In [77]:
redhat['pdate'] = pd.to_datetime(redhat['pdate'],infer_datetime_format=True)
redhat['date'] = pd.to_datetime(redhat['date'],infer_datetime_format=True)

In [79]:
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

In [88]:
#Converting Object type to numeric

In [91]:
categorical_variables = redhat.dtypes.loc[redhat.dtypes!="datetime64[ns]"].index
categorical_variables

Index([u'pchar_1', u'pgroup_1', u'pchar_2', u'pchar_3', u'pchar_4', u'pchar_5',
       u'pchar_6', u'pchar_7', u'pchar_8', u'pchar_9', u'pchar_10',
       u'pchar_11', u'pchar_12', u'pchar_13', u'pchar_14', u'pchar_15',
       u'pchar_16', u'pchar_17', u'pchar_18', u'pchar_19', u'pchar_20',
       u'pchar_21', u'pchar_22', u'pchar_23', u'pchar_24', u'pchar_25',
       u'pchar_26', u'pchar_27', u'pchar_28', u'pchar_29', u'pchar_30',
       u'pchar_31', u'pchar_32', u'pchar_33', u'pchar_34', u'pchar_35',
       u'pchar_36', u'pchar_37', u'pchar_38', u'activity_category', u'char_1',
       u'char_2', u'char_3', u'char_4', u'char_5', u'char_6', u'char_7',
       u'char_8', u'char_9', u'char_10', u'outcome'],
      dtype='object')

In [92]:
le = LabelEncoder()
for var in categorical_variables:
    redhat[var] = le.fit_transform(redhat[var])

In [93]:
redhat.head()
redhat.shape

,pchar_1,pgroup_1,pchar_2,pdate,pchar_3,pchar_4,pchar_5,pchar_6,pchar_7,pchar_8,...,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,1,4691,1,2021-06-29,38,20,4,2,2,1,...,0,0,0,0,0,0,0,0,5383,0
1,1,4691,1,2021-06-29,38,20,4,2,2,1,...,0,0,0,0,0,0,0,0,1,0
2,1,4691,1,2021-06-29,38,20,4,2,2,1,...,0,0,0,0,0,0,0,0,1,0
3,1,4691,1,2021-06-29,38,20,4,2,2,1,...,0,0,0,0,0,0,0,0,1,0
4,1,4691,1,2021-06-29,38,20,4,2,2,1,...,0,0,0,0,0,0,0,0,1,0

In [96]:
redhat.to_csv("C:\\Users\\vinod.pathak\\Desktop\\Vinod Pathak\\Predicting Red Hat Business Value\\num_redhat.csv")

In [98]:
newdf = redhat.drop_duplicates()

In [104]:
newdf.shape

(1304021, 53)

In [103]:
newdf.to_csv("C:\\Users\\vinod.pathak\\Desktop\\Vinod Pathak\\Predicting Red Hat Business Value\\rm_duplicates.csv")

In [105]:
newdf.head()

,pchar_1,pgroup_1,pchar_2,pdate,pchar_3,pchar_4,pchar_5,pchar_6,pchar_7,pchar_8,...,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,1,4691,1,2021-06-29,38,20,4,2,2,1,...,0,0,0,0,0,0,0,0,5383,0
1,1,4691,1,2021-06-29,38,20,4,2,2,1,...,0,0,0,0,0,0,0,0,1,0
3,1,4691,1,2021-06-29,38,20,4,2,2,1,...,0,0,0,0,0,0,0,0,1,0
4,1,4691,1,2021-06-29,38,20,4,2,2,1,...,0,0,0,0,0,0,0,0,1,0
5,1,4691,1,2021-06-29,38,20,4,2,2,1,...,0,0,0,0,0,0,0,0,763,0