In [26]:
import pandas as pd

In [2]:
temp = pd.DataFrame({'date':['2020','2020','2020','2020','2020'],\
                    'eff':[0.8,0.5,0.5,0.5,0.3]})

In [27]:
temp

   date  eff
0  2020  0.8
1  2020  0.5
2  2020  0.5
3  2020  0.5
4  2020  0.3

In [28]:
temp_df = temp.groupby(['date', 'eff']).size().reset_index()\
.rename(columns={0:'cnt'}).sort_values(by = ['eff'], ascending=False)

In [30]:
temp_df

   date  eff  cnt
2  2020  0.8    1
1  2020  0.5    3
0  2020  0.3    1

In [31]:
temp_df.loc[:,"above_me_1"] = temp_df['cnt'].cumsum()

temp_df

   date  eff  cnt  above_me_1
2  2020  0.8    1           1
1  2020  0.5    3           4
0  2020  0.3    1           5

In [32]:
temp_final = pd.merge(temp, temp_df, on = ['date','eff'], how='left')

temp_final.loc[:,"aboev_me"] = temp_final.above_me_1 - temp_final.cnt

temp_final

   date  eff  cnt  above_me_1  aboev_me
0  2020  0.8    1           1         0
1  2020  0.5    3           4         1
2  2020  0.5    3           4         1
3  2020  0.5    3           4         1
4  2020  0.3    1           5         4

In [33]:
temp_final.drop(columns=['above_me_1', 'cnt'])

   date  eff  aboev_me
0  2020  0.8         0
1  2020  0.5         1
2  2020  0.5         1
3  2020  0.5         1
4  2020  0.3         4